*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
[Bb]in
[Db]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
*.ncrunchsolution
*.ncrunchsolution.user
*.ncrunchproject
*.crunchsolution.cache
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.suo
[sS]ource
[sS]andbox
umbraco.config
*.vs10x
App_Data\access.config
App_Data\TEMP\*
App_Data\Logs\*
App_Data\[Pp]review\*

_BuildOutput/*
*.ncrunchsolution
build/*.nupkg
*.orig
*.[Dd]ot[Ss]ettings
Concorde.PreAllocate/Test.txt
packages/
!packages/repositories.config